<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>
<body>
    <h1>Transactions</h1>
    <%for (let i = 0; i < transactions.length; i++) {%>
        <li><a href="transactions/<%=i%>"><%=transactions[i].name%></a></li>
        <%}%>
</body>
</html>